image:
  repository: ghcr.io/nuvanta-holding/kosmos
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: false
  className: ""
  hosts:
    - host: kosmos.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

env:
  - name: API_HOST
    value: "0.0.0.0"
  - name: API_PORT
    value: "8000"
  - name: ENABLE_DEP_CHECKS
    value: "false"

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
