image:
  repository: ghcr.io/nuvanta-holding/kosmos
  tag: latest
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  className: ""
  hosts:
    - host: kosmos.nuvanta.cloud
      paths:
        - path: /
          pathType: Prefix
  tls: []

env:
  - name: API_HOST
    value: "0.0.0.0"
  - name: API_PORT
    value: "8000"
  - name: ENABLE_DEP_CHECKS
    value: "false"

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
